.btn {
  padding: {
    top: 16px;
    bottom: 17px;
  }
  font: 2.6em $font-agora-thin;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  background-color: #2aab6d;
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  &:hover {
    color: #fff;
    background-color: #1c9b5e;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #1c9b5e;
  }
  &:disabled,
  &--disabled {
    color: #fff;
    background-color: #e5e5e5;
  }
}
