.features__title {
  font: 6em $font-agora-xthin;
  color: #000;
}

.features__item-title {
  font: 2.4em $font-agora-light;
  color: #000;
}

.features__item-desc {
  font: 1.6em $font-agora-light;
  color: #000;
}
