.page-footer__nav-menu-link {
  font: 1.8em $font-agora-reg;
  color: #000;
}

.page-footer__logo-text {
  font: 1.108em $font-agora-reg;
  color: #000;
}

.page-footer__copyright {
  font: 1.4em $font-agora-reg;
  color: #000;
}
