.socials {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  //width: 55%;
 }

.socials__social-btn {
  position: relative;
  width: 45px;
  height: 45px;
  //text-indent: -99999px;
  font-size: 0;
  border: 2px solid $color-grey;
  border-radius: 50%;
}

.social__icon {
  @include center;
}