.solutions__title {
  font: 6em $font-agora-xthin;
  color: #000;
}

.solutions__item-title {
  font: 3.6em $font-agora-reg;
  color: #000;
}

.solutions__option {
  font: 1.8em $font-agora-reg;
  color: #000;
}

.solutions__price {
  font: 6em $font-agora-light;
  color: #000;
}

.solutions__item-desc {
  font: 2.167em $font-agora-thin;
  color: #000;
}

.solutions__label {
  font: 2.076em $font-agora-bold;
  color: $color-red;
}

