.testimonials__title {
  font: 6em $font-agora-xthin;
  color: #000;
}

.testimonials__author-name {
  font: 3em $font-agora-light;
  color: #000;
}

.testimonials__autor-profession {
  font: 1.8em $font-agora-light;
  color: #000;
}

.testimonials__entry-text {
  font: 1.8em $font-agora-light;
  color: #000;
}

.testimonials__next-entry {
  font: 1.6em $font-agora-thin;
  color: #000;
}
