//Interpolation use ex.: @media #{$retina}
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
$desktop: "only screen and (min-width: 1200px)";
$tablet: "only screen and (min-width: 768px)";
$mobile: "only screen and (min-width: 320px)";

$font-agora-reg: "PFAgora Sans Pro Regular", sans-serif, Arial;
$font-agora-bold: "PFAgora Sans Pro Bold", sans-serif, Arial;
$font-agora-light: "PFAgora Sans Pro Light", sans-serif, Arial;
$font-agora-thin: "PFAgora Sans Pro Thin", sans-serif, Arial;
$font-agora-xthin: "PFAgora Sans Pro XThin", sans-serif, Arial;

$color-red: #e11a27;
